html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	background-repeat:no-repeat;
	background-size:auto;
}

.main-content {
	flex: 1 0 auto;
}

/* Style the header transparent then add some padding */
.header {
	overflow: visible;
	background-color: rgba(255,255,255,0);
	padding: 10px 0px;
	height: 50px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	border: 5px; /*groove #336b42;*/
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
}

#header-colored {
	background-color: rgba(255,255,255,1);
}

/* Style the header links */
.header a {
	float: left;
	text-align: center;
	color: #000000;
	padding: 12px;
	display: block;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}

/* Style the logo link */
.header a.logo {
	font-size: 25px;
	font-weight: bold;
	padding: 0px 0px 0px 50px;
}

/* Change the background color on mouse-over */
/*.header a:hover:not(.logo) {
	background-color: #ddd;
}*/

.header .icon {
	display: none;
}

/* The links list */
.links {
	float: left;
	overflow: hidden;
	list-style: none;
	display: inline-block;
	margin: 10px 10px 10px 30px;
}

/* link buttons */
.links a{
	border: none;
	outline: none;
	padding: 0;
	background-color: inherit;
	/*font-family: inherit;  Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */

	
	display: block;
	text-decoration: none;
	color: #000000;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0px;
	font-weight: 400;
}

/* Float the link section to the left */
.header-right {
	float: left;
	padding: 0px 0px 0px 0px;
}

.header-right ul{
	text-align: left;
	padding: 0;
	margin: 0;
}

/* Making sure the content is below the header */
.main-content {
	margin-top: 75px;
}

/* 25% width columns */
.column-25 {
	float: left;
	width: 25%;
}

/* 50% width columns */
.column-50 {
	float: left;
	width: 50%;
}

/* Center aligned elements*/
.center {
	float: center;
}

/* Right aligned elements*/
.right {
	right: 0;
}

.arrow-right {
	display: none;
}

@media screen and (min-width: 831px) {

	.links:hover{
		border: 5px solid #f77474;
		border-left-width: 0px;
		border-right-width: 0px;
		border-top-width: 0px;
	}

	/* Changing cursor to pointer to help visitor distinguish clickable elements */
	.head-clickable:hover {
		cursor: pointer;
	}
}

/* Responsive page for smaller screens */
@media screen and (max-width: 830px) {
	.header {
		height: auto;
		background-color: rgba(255,255,255,1);
	}

	.header-right {
		border-top: 5px solid #f76060;
	}

	.header-right ul {
		display: none;
	}

	.header a.icon {
		float: right;
		display: block;
	}

	.header.responsive {
		padding-bottom: 0px;
	}

	.header.responsive .icon {
		position: absolute;
		right: 0;
		top: 10;
	}

	.header.responsive .header-right {
		float: left;
		width: 100%;
		margin-top: 10px;
	}

	.header.responsive .header-right ul, .links{
		float: left;
		display: block;
		width: 100%;
		margin: 0;
	}

	.header.responsive .header-right .links:hover{
		background-color: #f79090;
	}

	.links a{
		width: 90%;
		text-align: left;
		margin: 10px 0px 10px 20px;
	}

	.links:hover{
		cursor: pointer;
	}

	.arrow-right {
		display: inline-block;
		color: #f77474;
	}

	/*.main-content.responsive {
		margin-top: 90px;
	}*/
}


/*MODAL*/

/* Set a style for all buttons */
.okbtn, .cancelbtn {
	padding: 14px 20px;
	margin: 8px auto;
	cursor: pointer;
	width: 50%;
	opacity: 0.9;
	float: left;
}

.okbtn {
	background-color: #F77474;
	color: white;
}

.cancelbtn {
	background-color: #FFFFFF;
	color: #000000;
}

.okbtn:hover {
	opacity: 1;
}

.cancelbtn:hover {
	opacity: 1;
}

/* Add padding and center-align text to the container */
.container {
	padding: 16px;
	text-align: center;
}

/* The Modal (background) */
.logoutmodal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(125,125,125,0.5);
	padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 10% auto;
	border: 1px solid #888;
	width: 50%;
}

/* Clear floats */
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 700px) {
	.modalbtn {
		width: 100%;
	}
}

@media screen and (max-width: 550px) {
	.modal-content {
		width: 80%;
	}
}

@media screen and (max-width: 350px) {
	.form {
		margin: 0px auto;
	}
}
