/* Main login body */
.form {
	width: 50%;
	max-width: 350px;
	height: 75%;
	position: relative;
	padding: 37px 48px 20px;
	border: 1px solid #4c5067;
	margin: 30px auto 0px;
	background: #ffffff;
}

.cardLogin{
    width: 100%;
    padding: 0px;
    margin: auto;
}

.card-header {
	margin-bottom: 8px;
	text-align: center;
	font-family: Poppins, sans-serif;
}

.title {
	display: block;
	font-size: 52px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: -0.04em;
	margin: 0px auto;
	color: rgb(0, 0, 0);
}

.v-letter {
	color: #F77474;
}

.slogan {
	font-weight: 500;
	line-height: 1;
	letter-spacing: -0.02em;
	margin: 0px auto;
}

.sign-in {
	line-height: 1;
	font-weight: 700;
}

.notification {
	font-size: 16px;
	font-family: Roboto, sans-serif;
	text-align: center;
	margin: 0;
	color: #F73434
}

.form-group {
	position: relative;
	width: 80%;
	margin: 20px auto;
}

.label {
	font-size: 16px;
	font-family: Roboto, sans-serif;
}

.field {
	display: block;
	width: 100%;
	height: 48px;
	padding: 0 20px;
	border: 2px solid #4c5067;
	/*border-radius: 10px;*/
	font-size: 16px;
	letter-spacing: .1px;
}

.btn {
    width: 100%;
    padding: 17px 10px 16px;
	margin-top:0px;
    font-size: 22px;
    line-height: 1.11;
    background-color: #000000;
    font-weight: 500;
	color: #ffffff;
}
